.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 36px;
}

@media (max-width: 400px) {
  .header__logo {
    width: 103px;
    height: 24px;
    margin-bottom: 31px;
    padding-left: 27px;
  }
}