.card__like-btn {
  border: 0;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-btn-disable.png);
  background-color: transparent;
}
.card__like-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}